.faqs-title
  font-family: 'Lato Bold', sans-serif
  font-size: 1.25em
  border-bottom: 3px solid  #5a1c5a

.faqs-content
  font-family: 'Lato', sans-serif
  font-size: .65em
  padding: 10px 0 0 0

  ul
    margin-top: 10px
    padding-left: 40px

.faq-heading
  margin-bottom: 10px
  font-size: 1.111em
  font-weight: bold

@media only screen and (min-width: 481px)

  .faqs-title
    font-size: 1.5em

  .faqs-content
    font-size: .85em
    padding: 10px 0 0 0

    ul
      margin-top: 10px
      padding-left: 40px
