.footer-wrapper
  margin: 0
  padding: 0
  width: 100vw

.upss-sq-logo
  height: 80px
  width: auto
  margin-bottom: 20px

.footer-info-container
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  align-items: center
  background-color: #DB7599
  padding: 75px
  height: auto
  width: 100vw

.footer-info
  font-size: .85em
  font-family: 'Source Sans Pro Light', sans-serif
  color: #fff

  p:nth-child(1)
    font-family: 'Oxygen', sans-serif
    font-size: 1em

.footer-media
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  margin-bottom: 10px

.footer-copy
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  background-color: #DB7599
  // background-color: #f9c0d4
  // background-color: #E1AE9E
  width: 100vw
  // border-top: 1px solid #fff

.footer-copy-text
  font-size: .75em
  font-family: 'Lato Light', sans-serif
  // padding: 0 0 25px 0
  color: #fff
  // color: rgb(254,1,154)

.copy-text
  text-align: center

.society-text
  text-align: center

.media
  height: 35px
  width: 35px
  margin: 4px
  background-color: #DB7599

@media only screen and (min-width: 481px)
