.info-wrapper
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  height: auto

.page-container
  width: 100vw
  padding: 30px 0px 50px 0px
  background-color: #fff
  max-width: 1160px

.our-mission-container
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  height: auto
  width: auto
  margin: 0 30px 30px 0

.upss-membership-container
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  height: auto
  width: auto
  margin: 0 0 30px 15px

.asps-container
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  height: auto
  width: 100%
  margin-right: 0 30px 30px 0

.info-section-title
  width: 100%
  text-align: center
  font-size: 1.5em
  font-family: 'Oxygen Bold', sans-serif
  font-weight: bold
  margin: 15px 0 35px 0

.our-mission-image1
  display: block
  height: 100%
  width: auto

.our-mission-image2
  display: none
  height: auto
  width: 193.91px
  margin-left: 15px

.our-mission-content
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  height: auto
  width: 100%
  padding-left: 15px
  font-size: .85em
  font-family: 'Source Sans Pro', sans-serif

.upss-logo-text-info
  height: 80px
  width: auto
  margin-bottom: 16px

.our-mission-text
  span
    font-family: 'Source Sans Pro Bold', sans-serif

.upss-membership-content
  display: flex
  justify-content: center
  align-items: center
  height: auto
  width: 100%
  padding-right: 15px
  font-family: 'Source Sans Pro', sans-serif

.upss-membership-text
  display: flex
  flex-flow: column nowrap
  justify-content: flex-start
  align-items: center
  height: auto
  width: auto
  font-size: .85em
  font-family: 'Source Sans Pro', sans-serif
  padding-right: 15px

.toon-doctor-image
  height: 200px
  width: auto
  margin-left: 15px

.asps-image1
  display: block
  height: 80%
  width: auto

.asps-image2
  display: none
  height: 250px
  width: auto

.asps-content
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  height: auto
  width: 100%
  padding-left: 15px
  font-size: .85em
  font-family: 'Source Sans Pro', sans-serif

.asps-logo
  height: 80px
  width: auto
  margin-bottom: 16px

@media only screen and (min-width: 481px)

  .info-wrapper
    margin: 0
    padding: 0px 120px 75px 120px

  .our-mission-content
    padding-left: 25px

  .upss-membership-content
    width: auto
  //   padding-left: 25px

  .asps-content
    padding-left: 25px

  .our-mission-image1
    display: none

  .our-mission-image2
    display: block
    box-shadow: 1px 2px 6px #7e7e7e

  .asps-image1
    display: none

  .asps-image2
    display: block
    box-shadow: 1px 2px 6px #7e7e7e

  .toon-doctor-image
    height: auto
    width: 275px

  #membership-info-section-title
    margin: 85px 0 0 0

  .info-section-title
    margin-top: 85px

@media only screen and (min-width: 769px)

  .info-wrapper
    padding: 0px 280px 105px 280px

  .our-mission-container
    align-items: center
    justify-content: center

  .our-mission-content
    // padding-left: 25px
    width: auto
    align-items: center
  //
  // .upss-membership-content
  //   width: auto
  //
  // .asps-content
  //   padding-left: 25px
  //
  // .our-mission-image1
  //   display: none

  .our-mission-image2
    display: block
    height: 350px
    width: auto
    box-shadow: 1px 2px 6px #7e7e7e

  .asps-image2
    display: block
    height: 350px
    width: auto
    box-shadow: 1px 2px 6px #7e7e7e

  .toon-doctor-image
    height: auto
    width: 275px

  #membership-info-section-title
    margin: 85px 0 0 0
    font-size: 3em

  .info-section-title
    margin-top: 105px
    font-size: 3em
