.logo-img
  height: 45px
  margin-top: 3px
  padding: 0

.logo-text-wrapper
  margin-bottom: 10px

.upss-logo-text
  height: 105px
  width: auto
  margin: 20px

// .asps-logo-text
//   height: 105px
//   width: auto
//   margin: 20px 30px 20px 30px

.asps-logo
  height: 80px
  width: auto
  margin: 20px 30px 20px 30px

.upss-logo-pink
  margin: 20px 30px 20px 30px
  height: 50px
  width: auto

.menu-logo-img
  height: 45px
  width: auto
//
// .menu-logo-img
//   height: 85px
//   width: auto
.menu-logo-img,
.dark-upss-logo-pink
  height: 35px
  width: auto
  cursor: pointer

@media only screen and (min-width: 481px)

  .logo-img,
  .menu-logo-img,
  .dark-upss-logo-pink
    height: 55px

@media only screen and (min-width: 769px)
  .logo-img,
  .menu-logo-img,
  .dark-upss-logo-pink
    height: 65px

@media only screen and (min-width: 1450px)
  .logo-img,
  .menu-logo-img,
  .dark-upss-logo-pink
    height: 75px
