.navbar-wrapper
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  height: auto
  width: 100vw
  background: transparent
  padding: 20px 20px 0px 20px
  z-index: 6
  align-self: flex-start
  top: 0
  right: 0
  left: 0
  bottom: 0

  .navbar-container
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    height: auto
    width: 100vw
    margin: 0
    padding: 0

@media only screen and (min-width: 481px)

  .navbar-wrapper
    padding: 30px 40px 0 40px

    .navbar-container
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      align-items: center
      height: auto

@media only screen and (min-width: 769px)

  .navbar-wrapper
    padding: 40px 55px 0 55px

@media only screen and (min-width: 1450px)
  .navbar-wrapper
    .navbar-container
      width: 75vw
