.procedures-wrapper
  font-family: 'Lato Bold', sans-serif
  background-color: #DB7599
  color: #fff
  padding: 20px

.procedure-title
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: center
  font-family: 'Lato Bold', sans-serif
  font-size: 4em
  height: 100px
  width: 100%
  background-color: #DB7599
  color: #fff
  padding: 20px

.procedure-content
  background-color: #DB7599
  color: #fff
  font-family: 'Lato Hairline', sans-serif
  padding: 20px
  font-size: 2em
