.title-bar
  display: flex
  flex-flow: column wrap
  justify-content: center
  align-items: center
  width: 100vw
  background-color: #972f97
  padding: 50px

  .title-bar_title
    font-family: 'Lato Bold', sans-serif
    font-size: 4em
    color: #fff
    margin: 0
    padding: 0

  .title-bar_subtitle
    color: #F9C0D3
    font-family: 'Lato Hairline', sans-serif
    font-size: 2em
    margin: 0
    padding: 0

.submenu-wrapper
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center
  // background-color: #d9b3d9
  // color: #fff

.submenu
  width: 35%
  height: 100vh
  align-self: flex-start
  background-color: #ab58ab
  // background-color: #a143a1
  padding: 40px
  ul
    list-style-type: none
    line-height: 1.5
    font-size: 1.5em
    font-family: 'Lato Hairline', sans-serif
    color: #fff

.submenu-body
  width: 65%
  height: 100%
  align-self: flex-start
  padding: 40px
  font-size: 1.25em
  font-family: 'Lato', sans-serif
  color: #5a1c5a
  background-color: #fff
