.banner-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  background-image: url(../images/girl-in-field.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5; }

.banner-gradient {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 127, 0.8), rgba(254, 1, 154, 0.8)); }

.banner-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Lato Hairline", sans-serif;
  font-weight: lighter;
  color: #fff;
  z-index: 5; }
  .banner-text-container p:nth-child(1) {
    font-size: 2.25rem;
    text-align: center;
    padding: 0 10px; }
  .banner-text-container p:nth-child(2) {
    font-size: 1.85rem;
    font-weight: light;
    text-align: center;
    padding: 0 10px; }
    .banner-text-container p:nth-child(2) span {
      font-family: "Lato Bold", sans-serif; }

@media only screen and (min-width: 481px) {
  .banner-text-container p:nth-child(1) {
    font-size: 2.75rem; }
  .banner-text-container p:nth-child(2) {
    font-size: 2rem; } }
@media only screen and (min-width: 769px) {
  .banner-text-container p:nth-child(1) {
    font-size: 3.75rem; }
  .banner-text-container p:nth-child(2) {
    font-size: 2.75rem; } }
.bannerbutton {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  padding: 7px 20px 7px 20px;
  font-size: 0.5em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 50px;
  z-index: 5;
  transition: 0.35s ease-in-out; }
  .bannerbutton:hover {
    background-color: #fff;
    color: #fe019a; }

@media only screen and (min-width: 481px) {
  .bannerbutton {
    padding: 17px 30px 17px 30px;
    font-size: 0.85em;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #fff; } }
.page-header {
  font-size: 1.85em;
  font-family: "Oxygen Bold", sans-serif;
  color: #000;
  border-bottom: 3px solid #0F8EE3;
  line-height: 35px;
  margin-bottom: 10px; }

.header-sub-title {
  font-size: 1.15em;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: #000;
  margin: 0; }

.content {
  font-size: 0.9em;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  text-decoration: none !important;
  color: #5D76D8;
  margin-bottom: 20px;
  cursor: pointer; }

.contactUs-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100vw;
  background-image: url(../images/bryce-canyon.jpg);
  z-index: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }

.contactUs-overlay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  height: inherit;
  width: 100vw;
  background-color: rgba(219, 117, 153, 0.8); }

.contactUs-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: lighter;
  z-index: 200; }
  .contactUs-text-container .title {
    font-size: 1.5rem;
    font-family: "Lato Hairline", sans-serif;
    margin-bottom: 8px;
    width: 100vw;
    text-align: center; }
  .contactUs-text-container .fieldset {
    height: auto;
    width: 100vw;
    padding: 20px;
    border-right: none;
    border-left: none; }
    .contactUs-text-container .fieldset .form-label {
      font-size: 0.75em;
      font-family: "Source Sans Pro", sans-serif;
      margin-bottom: 3px; }
    .contactUs-text-container .fieldset .input-fields {
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid #fff;
      border-radius: 2px;
      width: 100%;
      height: 25px;
      margin-bottom: 10px; }
    .contactUs-text-container .fieldset .input-area {
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid #fff;
      border-radius: 2px;
      width: 100%;
      margin-bottom: 10px; }
    .contactUs-text-container .fieldset .submit-btn {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid #fff;
      border-radius: 2px;
      width: auto;
      height: auto;
      padding: 4px;
      font-family: "Source Sans Pro", sans-serif;
      color: #db7599;
      transition: 0.3s ease-in-out; }
      .contactUs-text-container .fieldset .submit-btn:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff; }

@media only screen and (min-width: 481px) {
  .contactUs-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
    background-image: url(../images/bryce-canyon.jpg);
    z-index: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff; }

  .contactUs-overlay {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    height: inherit;
    width: 100vw;
    background-color: rgba(219, 117, 153, 0.8); }

  .contactUs-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    z-index: 200;
    margin-bottom: 20px; }
    .contactUs-text-container .title {
      font-size: 3.15rem;
      margin-bottom: 15px;
      width: 100vw;
      text-align: center; }
    .contactUs-text-container .fieldset {
      height: auto;
      width: 80vw;
      padding: 25px;
      border: 1px solid rgba(255, 255, 255, 0.5); }
      .contactUs-text-container .fieldset .form-label {
        font-size: 0.9em;
        font-family: "Lato", sans-serif;
        margin-bottom: 3px; }
      .contactUs-text-container .fieldset .input-fields {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid #fff;
        border-radius: 2px;
        width: 50%;
        height: 25px;
        margin-bottom: 10px;
        color: #fff;
        padding: 0 5px 0 5px; }
      .contactUs-text-container .fieldset .input-area {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid #fff;
        border-radius: 2px;
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
        color: #fff; }
      .contactUs-text-container .fieldset .submit-btn {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid #fff;
        border-radius: 2px;
        width: auto;
        height: auto;
        padding: 7px;
        font-family: "Lato", sans-serif;
        color: #db7599; }
        .contactUs-text-container .fieldset .submit-btn:hover {
          background-color: rgba(255, 255, 255, 0.2);
          color: #fff; } }
@media only screen and (min-width: 769px) {
  .contactUs-text-container .fieldset {
    width: 50vw; } }
.dark-navbar-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  background: transparent;
  z-index: 6;
  align-self: flex-start;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }
  .dark-navbar-wrapper .dark-navbar-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100vw;
    padding: 8px 20px;
    border-bottom: 1px solid #ff8197; }

.dark-upss-logo-pink {
  width: auto;
  height: 40px; }

.dark-hamburger-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .dark-hamburger-container .icon-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #DB7599;
    padding: 2px 2px 2px 2px;
    margin-bottom: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: 0.4s ease-in-out; }
    .dark-hamburger-container .icon-container:hover {
      border: 2px solid #fe019a; }

.dark-hamburger-menu {
  font-family: "Chivo";
  color: #DB7599;
  font-size: 0.5em; }

.dark-hamburger-text-icon {
  color: #DB7599;
  font-size: 0.75em;
  line-height: 1; }

.dark-upss-logo-pink {
  width: auto;
  height: 60px; }

@media only screen and (min-width: 481px) {
  .dark-navbar-wrapper .dark-navbar-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: auto; }

  .dark-hamburger-container .icon-container {
    border: 3px solid #DB7599;
    height: 40px;
    width: 40px;
    padding: 0; }
    .dark-hamburger-container .icon-container:hover {
      border: 3px solid #fe019a; }

  .dark-hamburger-text-icon {
    font-size: 1.5em; }

  .dakr-hamburger-menu {
    font-family: "Chivo";
    color: #fff;
    font-size: 0.75em; } }
.footer-wrapper {
  margin: 0;
  padding: 0;
  width: 100vw; }

.footer-info-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #DB7599;
  padding: 30px;
  height: 300px;
  width: 100vw; }

.footer-info {
  font-size: 0.85em;
  font-family: "Source Sans Pro Light", sans-serif;
  color: #fff; }
  .footer-info p:nth-child(1) {
    font-family: "Oxygen", sans-serif;
    font-size: 1em; }

.footer-media {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.footer-copy {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #f9c0d4;
  width: 100vw; }

.footer-copy-text {
  font-size: 0.75em;
  font-family: "Source Sans Pro", sans-serif;
  padding: 25px 0 25px 0;
  color: #fe019a;
  font-weight: bold; }

.copy-text {
  text-align: center; }

.society-text {
  text-align: center; }

.media {
  height: 35px;
  width: 35px;
  margin: 10px;
  background-color: #DB7599; }

@media only screen and (min-width: 481px) {
  .footer-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; } }
/*** Chivo ** */
@font-face {
  font-family: "Chivo";
  src: url("../fonts/Chivo/Chivo-Regular.ttf"); }
@font-face {
  font-family: "Chivo Light";
  src: url("../fonts/Chivo/Chivo-Light.ttf"); }
@font-face {
  font-family: "Chivo Bold";
  src: url("../fonts/Chivo/Chivo-Bold.ttf"); }
/*** Lato ** */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf"); }
@font-face {
  font-family: "Lato Hairline";
  src: url("../fonts/Lato/Lato-Hairline.ttf"); }
@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf"); }
/*** Montserrat ** */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.otf"); }
@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat/Montserrat-Light.otf"); }
@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.otf"); }
/*** Montserrat Alternatives ** */
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/MontserratAlternates/MontserratAlternates-Regular.otf"); }
@font-face {
  font-family: "Montserrat Alternates Light";
  src: url("../fonts/MontserratAlternates/MontserratAlternates-Light.otf"); }
@font-face {
  font-family: "Montserrat Alternates Bold";
  src: url("../fonts/MontserratAlternates/MontserratAlternates-Bold.otf"); }
/*** Open Sans ** */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf"); }
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf"); }
/*** Oxygen ** */
@font-face {
  font-family: "Oxygen";
  src: url("../fonts/Oxygen/Oxygen-Regular.ttf"); }
@font-face {
  font-family: "Oxygen Light";
  src: url("../fonts/Oxygen/Oxygen-Light.ttf"); }
@font-face {
  font-family: "Oxygen Bold";
  src: url("../fonts/Oxygen/Oxygen-Bold.ttf"); }
/*** Roboto ** */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf"); }
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf"); }
/*** Rozha One ** */
@font-face {
  font-family: "Rozha One";
  src: url("../fonts/Rozha_One/RozhaOne-Regular.ttf"); }
/*** Rubik ** */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Regular.ttf"); }
@font-face {
  font-family: "Rubik Light";
  src: url("../fonts/Rubik/Rubik-Light.ttf"); }
@font-face {
  font-family: "Rubik Bold";
  src: url("../fonts/Rubik/Rubik-Bold.ttf"); }
/*** Rubik ** */
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf"); }
@font-face {
  font-family: "Source Sans Pro Light";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf"); }
@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf"); }
/*** Tenor Sans ** */
@font-face {
  font-family: "Tenor Sans";
  src: url("../fonts/Tenor_Sans/TenorSans-Regular.ttf"); }
.featured-members-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  padding: 50px 10px 50px 10px;
  background-color: #EFEFEF; }

.featured-members-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px; }

.featured-member-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 120px;
  width: 280px;
  background-color: #FFFFFF;
  padding: 5px;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 0;
  padding: 13px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.18;
  color: #45799B;
  transition: 0.3s ease-in-out; }
  .featured-member-card:hover {
    box-shadow: -1px 2px 8px rgba(0, 0, 0, 0.5); }
  .featured-member-card .featured-member-pic {
    height: 100%;
    width: auto; }
  .featured-member-card .contact-info-container {
    height: auto;
    width: auto;
    margin-left: 12px; }
  .featured-member-card .featured-member-name {
    font-size: 1em;
    font-weight: bold; }
  .featured-member-card .featured-member-address {
    font-size: 0.87em;
    font-weight: normal; }
  .featured-member-card .featured-member-phone-number {
    font-size: 0.87em;
    font-weight: bold; }
  .featured-member-card .featured-member-site {
    color: #5D76D8;
    font-size: 0.75em; }

.header-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start; }

.header-title {
  font-family: DIN Condensed, sans-serif;
  font-size: 10vw;
  color: #fff; }

.info-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: auto; }

.page-container {
  width: 100vw;
  background-color: #fff;
  padding: 40px 25px;
  max-width: 1160px; }

.our-mission-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  width: auto;
  margin-bottom: 50px; }

.upss-membership-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin-bottom: 50px; }

.asps-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%; }

.info-section-title {
  width: 100%;
  text-align: center;
  font-size: 1.75em;
  font-family: "Oxygen Bold", sans-serif;
  font-weight: bold;
  margin: 15px 0 15px 0; }

.steth-heart {
  height: 100%;
  width: 100%; }

.doc-computer {
  height: 100%;
  width: 100%; }

.red-checkmark {
  height: 12px;
  width: auto;
  margin-right: 10px; }

.our-mission-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  font-size: 0.95em;
  font-family: "Source Sans Pro", sans-serif; }

.upss-logo-text-info {
  height: 80px;
  width: auto; }

ul.our-mission-text {
  list-style: url(../images/icons/red-checkmark-bright-16.png) no-repeat left 9px; }
  ul.our-mission-text span {
    font-family: "Source Sans Pro Bold", sans-serif; }
  ul.our-mission-text li {
    background: url("../images/icons/red-checkmark-bright-16.png") no-repeat left top;
    height: 44px;
    padding-left: 28px;
    padding-top: -7px;
    display: block; }

.upss-membership-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif; }

.upss-membership-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: auto;
  font-size: 0.95em;
  font-family: "Source Sans Pro", sans-serif;
  margin-right: 20px; }

.toon-doctor-image {
  height: 200px;
  width: auto; }

.asps-image1 {
  display: block;
  height: 80%;
  width: auto; }

.asps-image2 {
  display: none;
  height: 250px;
  width: auto; }

.asps-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  font-size: 0.95em;
  font-family: "Source Sans Pro", sans-serif; }

@media only screen and (min-width: 481px) {
  .info-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: auto; }

  .page-container {
    width: 100vw;
    padding: 35px 75px 95px 75px;
    background-color: #fff; }

  .info-section-title {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 2.5rem; }

  .info-wrapper {
    margin: 0;
    padding: 0; }

  .steth-heart {
    height: 50%;
    width: 50%; }

  .doc-computer {
    height: 50%;
    width: 50%; }

  .our-mission-container {
    flex-flow: row nowrap;
    align-items: flex-start; }

  .our-mission-content {
    margin: 0;
    padding: 0;
    width: 40vw;
    margin-left: 30px; }
    .our-mission-content .upss-logo-pink {
      margin-top: 0;
      height: 50px;
      width: auto; }

  .upss-membership-content {
    margin: 0;
    padding: 0; }

  .asps-container {
    flex-flow: row nowrap;
    align-items: flex-start; }

  .asps-content {
    margin: 0;
    padding: 0;
    width: 40vw;
    margin-left: 30px; }
    .asps-content .asps-logo {
      margin-top: 0; }

  .our-mission-image1 {
    display: none; }

  .our-mission-image2 {
    display: block; }

  .asps-image1 {
    display: none; }

  .asps-image2 {
    display: block; }

  .toon-doctor-image {
    height: auto;
    width: 275px; } }
@media only screen and (min-width: 769px) {
  .page-container {
    padding: 0px 150px 135px 150px; }

  .our-mission-container {
    align-items: center;
    justify-content: center; }

  .our-mission-content {
    width: auto;
    align-items: center;
    margin-left: 80px;
    margin-bottom: 80px; }
    .our-mission-content .upss-logo-pink {
      height: 70px; }

  .asps-content {
    margin-left: 80px; }
    .asps-content .asps-logo {
      height: 120px;
      width: auto;
      margin: 20px 30px 20px 30px; }

  .our-mission-image2 {
    display: block;
    height: 350px;
    width: auto; }

  .asps-image2 {
    display: block;
    height: 350px;
    width: auto; }

  .toon-doctor-image {
    height: auto;
    width: 275px;
    margin-left: 60px; }

  .info-section-title {
    margin-top: 105px;
    margin-bottom: 50px;
    font-size: 3em; } }
.learnmore-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 50px; }

.learnmorebutton {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  border-radius: 3px;
  padding: 15px 20px 15px 20px;
  font-size: 1.25em;
  font-weight: bold;
  font-family: DIN Condensed, sans-serif;
  letter-spacing: 2px;
  color: #fff;
  background-color: #5D76D8;
  cursor: pointer; }
  .learnmorebutton:hover {
    background-color: #95989A; }
  .learnmorebutton p {
    margin: 0;
    margin: -1px 0 -9px 0;
    padding: 0;
    line-height: normal; }

a {
  text-decoration: none;
  color: inherit; }

.link {
  color: #5D76D8; }

.logo-img {
  height: 45px;
  margin-top: 3px;
  padding: 0; }

.logo-text-wrapper {
  margin-bottom: 10px; }

.upss-logo-text {
  height: 105px;
  width: auto;
  margin: 20px; }

.asps-logo {
  height: 80px;
  width: auto;
  margin: 20px 30px 20px 30px; }

.upss-logo-pink {
  margin: 20px 30px 20px 30px;
  height: 50px;
  width: auto; }

.menu-logo-img {
  height: 45px;
  width: auto; }

@media only screen and (min-width: 481px) {
  .logo-img,
  .menu-logo-img {
    height: 55px; } }
@media only screen and (min-width: 769px) {
  .logo-img,
  .menu-logo-img {
    height: 65px; } }
@media only screen and (min-width: 1450px) {
  .logo-img,
  .menu-logo-img {
    height: 75px; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fff; }

.members-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  padding: 50px 10px 50px 10px;
  background-color: lightblue; }

.members-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px; }

.member-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 120px;
  width: 210px;
  background-color: #FFFFFF;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 0;
  padding: 13px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.18;
  color: #45799B;
  transition: 0.3s ease-in-out; }
  .member-card:hover {
    box-shadow: -1px 2px 8px rgba(0, 0, 0, 0.5); }
  .member-card .member-pic {
    height: 100%;
    width: auto; }
  .member-card .contact-info-container {
    height: auto;
    width: auto; }
  .member-card .member-name {
    font-size: 0.87em;
    font-weight: bold; }
  .member-card .member-address {
    font-size: 0.87em;
    font-weight: normal; }
  .member-card .member-phone-number {
    font-size: 0.87em;
    font-weight: bold; }
  .member-card .member-site {
    color: #5D76D8;
    font-size: 0.8em; }

.menu-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -100vw;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  background-color: #fe019a;
  padding: 0 20px 20px 0;
  z-index: 10; }
  .menu-wrapper.open {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    z-index: 10; }

.ex-icon-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  padding: 1px 1px 0px 0px;
  margin-bottom: 5px;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  z-index: 10; }
  .ex-icon-container:hover {
    border: 1px solid #fe019a; }

.ex {
  height: 12px;
  width: 12px;
  color: white;
  z-index: 10; }

.menu-items-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
  z-index: 10; }

.menu-items-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  font-family: "Lato Hairline", sans-serif;
  color: #fff;
  z-index: 10;
  list-style-type: none;
  z-index: 10;
  cursor: pointer; }
  .menu-items-container li {
    font-size: 1.95rem;
    text-align: center;
    line-height: 1.25;
    transition: 0.3s ease-in-out;
    z-index: 10; }
    .menu-items-container li:hover {
      color: #f6a6c3; }

.menu-info {
  font-size: 0.85em;
  font-family: "Lato Hairline", sans-serif;
  color: #fff;
  text-align: right; }
  .menu-info p:nth-child(1) {
    font-family: "Lato Hairline", sans-serif;
    font-size: 1.35em; }

.menu-media {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .menu-media img {
    height: 25px;
    width: 25px;
    margin: 3px;
    background-color: #fe019a; }

@media only screen and (min-width: 481px) {
  .menu-wrapper {
    padding: 10px 0 40px 0;
    align-items: center;
    z-index: 10; }

  .ex-icon-container {
    border: 3px solid #fff;
    height: 40px;
    width: 40px;
    padding: 0; }

  .ex {
    height: 20px;
    width: 20px; }

  .menu-items-wrapper {
    align-items: center; }

  .menu-items-container {
    align-items: center;
    margin-bottom: 100px; }
    .menu-items-container li {
      font-size: 3.25rem; }

  .menu-info {
    text-align: center;
    font-size: 1rem; }

  .menu-media img {
    height: 40px;
    width: 40px; } }
@media only screen and (min-width: 769px) {
  .menu-items-container {
    margin-bottom: 75px; }
    .menu-items-container li {
      font-size: 3.5rem; } }
.navbar-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  background: transparent;
  padding: 20px 20px 0px 20px;
  z-index: 6;
  align-self: flex-start;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }
  .navbar-wrapper .navbar-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100vw; }

@media only screen and (min-width: 481px) {
  .navbar-wrapper {
    padding: 30px 40px 0 40px; }
    .navbar-wrapper .navbar-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      height: auto; } }
@media only screen and (min-width: 769px) {
  .navbar-wrapper {
    padding: 40px 55px 0 55px; } }
@media only screen and (min-width: 1450px) {
  .navbar-wrapper .navbar-container {
    width: 75vw; } }
.hamburger-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .hamburger-container .icon-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    padding: 2px 2px 2px 2px;
    margin-bottom: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: 0.4s ease-in-out; }
    .hamburger-container .icon-container:hover {
      border: 2px solid #fe019a; }

.hamburger-menu {
  font-family: "Chivo";
  color: #fff;
  font-size: 0.5em; }

.hamburger-text-icon {
  color: #fff;
  font-size: 0.75em;
  line-height: 1; }

@media only screen and (min-width: 481px) {
  .hamburger-container .icon-container {
    border: 3px solid #fff;
    height: 40px;
    width: 40px;
    padding: 0; }
    .hamburger-container .icon-container:hover {
      border: 3px solid #fe019a; }

  .hamburger-text-icon {
    font-size: 1.5em; }

  .hamburger-menu {
    font-family: "Chivo";
    color: #fff;
    font-size: 0.75em; } }
.procedures-wrapper {
  font-family: "Lato Bold", sans-serif;
  background-color: #DB7599;
  color: #fff;
  padding: 20px; }

.procedure-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-family: "Lato Bold", sans-serif;
  font-size: 4em;
  height: 100px;
  widht: 100%;
  background-color: #DB7599;
  color: #fff;
  padding: 20px; }

.procedure-content {
  background-color: #DB7599;
  color: #fff;
  font-family: "Lato Hairline", sans-serif;
  padding: 20px;
  font-size: 2em; }

.submenu-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f3e8f3; }

.submenu {
  width: auto;
  height: auto;
  align-self: flex-start;
  background-color: #972f97;
  padding: 40px;
  border-right: 1px solid #7f3a46; }
  .submenu ul {
    list-style-type: none;
    line-height: 1.5;
    font-size: 1.25em;
    font-family: "Lato Hairline", sans-serif;
    color: #fff; }

.submenu-body {
  width: 100%;
  height: 100%;
  align-self: flex-start; }

.whitebar-wrapper {
  height: 150px;
  width: 100vw; }

/*# sourceMappingURL=App.css.map */
